<div class="h-20 bg-[var(--color-bg-footer)]">
  <div class="flex justify-center">
    <div class="mt-4 flex items-center gap-1">
      <img class="w-4 h-4 mb-1" src="/images/insta.png" alt="instagram">
      <a class="font-heading text-xl text-white" href="https://www.instagram.com/jordendraws/" target="_blank">Instagram</a>
    </div>
  </div>
</div>