{{> header}}

<div class="flex-auto flex flex-col bg-[var(--color-bg-body)]">
  <div class="px-4 flex justify-center">
    <div class="max-w-xl w-full">
      {{> @partial-block }}
    </div>
  </div>
</div>

{{> footer}}
