{{#> shell}}
  <div class="mt-4">
    <div class="mx-8 flex justify-center">
      <sl-input class="w-full max-w-xs" size="small" placeholder="Search...">
        <sl-icon slot="suffix" class="mr-2" name="search"></sl-icon>
      </sl-input>
    </div>
  </div>

  <div class="mt-8 mb-16 px-4">
    <div class="grid grid-cols-2 gap-y-16 gap-x-8">
      <div>
        <a class="block h-full w-full" href="/portfolio/dragons">
          <img class="object-cover h-full w-full" src="/images/dragon_nature.png" alt="nature dragon">
        </a>
        <a class="text-xs text-gray-700 mt-2" href="/portfolio/dragons">Dragons</a>
      </div>
      <div>
        <a class="block h-full w-full" href="/portfolio/hawaii">
          <img class="object-cover h-full w-full" src="/images/manoa.png" alt="manoa">
        </a>
        <a class="text-xs text-gray-700 mt-2" href="/portfolio/hawaii">Hawai'i</a>
      </div>
      <div>
        <a class="block h-full w-full" href="/portfolio/characters">
          <img class="object-cover h-full w-full" src="/images/chars.png" alt="characters">
        </a>
        <a class="text-xs text-gray-700 mt-2" href="/portfolio/characters">Characters</a>
      </div>
      <div>
        <a class="block h-full w-full" href="/portfolio/traditional-art">
          <img class="object-cover h-full w-full" src="/images/trad_drag.jpg" alt="traditional art">
        </a>
        <a class="text-xs text-gray-700 mt-2" href="/portfolio/traditional-art">Traditional Art</a>
      </div>
    </div>
  </div>
{{/shell}}
